[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
podcast-dl = {editable = true, path = "."}
attrs = "*"
click = "*"
python-slugify = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
wheel = "*"
twine = "*"
black = "*"

[requires]
python_version = "3.6"

[scripts]
make-wheel = "python setup.py bdist_wheel"
release = "twine upload dist/*"

[pipenv]
allow_prereleases = true
